In [75]:
# import dependencies
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sqlalchemy import create_engine

In [76]:
# create path to 2015 world happiness csv
file = "Resources1/world-happiness-report-2015.csv"
df2015 = pd.read_csv(file)
df2015.head()

       Country          Region  Happiness Rank  Happiness Score  Standard Error  Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  Trust (Government Corruption)  Generosity  Dystopia Residual
0  Switzerland  Western Europe               1            7.587         0.03411                   1.39651  1.34951                   0.94143  0.66557                        0.41978     0.29678            2.51738
1      Iceland  Western Europe               2            7.561         0.04884                   1.30232  1.40223                   0.94784  0.62877                        0.14145     0.43630            2.70201
2      Denmark  Western Europe               3            7.527         0.03328                   1.32548  1.36058                   0.87464  0.64938                        0.48357     0.34139            2.49204
3       Norway  Western Europe               4            7.522         0.03880                   1.45900  1.33095                   0.88521  0.66973                        0.36503     0.34699            2.46531
4       Canada   North America               5            7.427         0.03553                   1.32629  1.32261                   0.90563  0.63297                        0.32957     0.45811            2.45176

In [77]:
# create path to 2021 world happiness csv file

file = "Resources1/world-happiness-report-2021.csv"
df2021 = pd.read_csv(file)
df2021.head()

  Country name Regional indicator  Ladder score  Standard error of ladder score  upperwhisker  lowerwhisker  Logged GDP per capita  Social support  Healthy life expectancy  Freedom to make life choices  Generosity  Perceptions of corruption  Ladder score in Dystopia  Explained by: Log GDP per capita  Explained by: Social support  Explained by: Healthy life expectancy  Explained by: Freedom to make life choices  Explained by: Generosity  Explained by: Perceptions of corruption  Dystopia + residual
0      Finland     Western Europe         7.842                           0.032         7.904         7.780                 10.775           0.954                     72.0                         0.949      -0.098                      0.186                      2.43                             1.446                         1.106                                  0.741                                       0.691                     0.124                                    0.481                3.253
1      Denmark     Western Europe         7.620                           0.035         7.687         7.552                 10.933           0.954                     72.7                         0.946       0.030                      0.179                      2.43                             1.502                         1.108                                  0.763                                       0.686                     0.208                                    0.485                2.868
2  Switzerland     Western Europe         7.571                           0.036         7.643         7.500                 11.117           0.942                     74.4                         0.919       0.025                      0.292                      2.43                             1.566                         1.079                                  0.816                                       0.653                     0.204                                    0.413                2.839
3      Iceland     Western Europe         7.554                           0.059         7.670         7.438                 10.878           0.983                     73.0                         0.955       0.160                      0.673                      2.43                             1.482                         1.172                                  0.772                                       0.698                     0.293                                    0.170                2.967
4  Netherlands     Western Europe         7.464                           0.027         7.518         7.410                 10.932           0.942                     72.4                         0.913       0.175                      0.338                      2.43                             1.501                         1.079                                  0.753                                       0.647                     0.302                                    0.384                2.798

In [53]:
#Transform: drop columns, rename columns, round decimals
# display 2015 columns

df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual'], dtype='object')

In [78]:
# round all numerical columns to two decimal points to clean up output 

def rounding(x):
    return round(x,2)

In [79]:
# drop unwanted columns from 2015 df

dropped2015 = df2015.drop(columns =['Region','Standard Error', 'Economy (GDP per Capita)', 'Family','Freedom', 'Dystopia Residual'])
dropped2015.head()

       Country  Happiness Rank  Happiness Score  Health (Life Expectancy)  Trust (Government Corruption)  Generosity
0  Switzerland               1            7.587                   0.94143                        0.41978     0.29678
1      Iceland               2            7.561                   0.94784                        0.14145     0.43630
2      Denmark               3            7.527                   0.87464                        0.48357     0.34139
3       Norway               4            7.522                   0.88521                        0.36503     0.34699
4       Canada               5            7.427                   0.90563                        0.32957     0.45811

In [80]:
# display 2021 df columns

df2021.columns

Index(['Country name', 'Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual'], dtype='object')

In [81]:
# drop unwanted columns from 2021 df

dropped2021 = df2021.drop(columns = ['Regional indicator', 
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 
       'Freedom to make life choices',
       'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'])
dropped2021.head()

  Country name  Ladder score  Healthy life expectancy  Generosity  Perceptions of corruption
0      Finland         7.842                     72.0      -0.098                      0.186
1      Denmark         7.620                     72.7       0.030                      0.179
2  Switzerland         7.571                     74.4       0.025                      0.292
3      Iceland         7.554                     73.0       0.160                      0.673
4  Netherlands         7.464                     72.4       0.175                      0.338

In [82]:
# rename columns in 2015 dropped df

dropped2015_transformed = dropped2015.rename(columns={"Country": "country", 
                                                      "Happiness Rank": "happiness_rank_2015", 
                                                      "Happiness Score": "happiness_score_2015",
                                                          "Health (Life Expectancy)": "life_expectancy_2015",
                                                          "Generosity": "generosity_2015", "Trust (Government Corruption)": "trust_2015"})


dropped2015_ordered = dropped2015_transformed[["country", "happiness_rank_2015", "happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]]
dropped2015_ordered.head()

       country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015
0  Switzerland                    1                 7.587               0.94143          0.29678     0.41978
1      Iceland                    2                 7.561               0.94784          0.43630     0.14145
2      Denmark                    3                 7.527               0.87464          0.34139     0.48357
3       Norway                    4                 7.522               0.88521          0.34699     0.36503
4       Canada                    5                 7.427               0.90563          0.45811     0.32957

In [83]:
# round numerical columns to two decimal points

dropped2015_round = dropped2015_ordered
dropped2015_round[["happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]] = dropped2015_round[["happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]].apply(rounding)
dropped2015_round.head()

       country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015
0  Switzerland                    1                  7.59                  0.94             0.30        0.42
1      Iceland                    2                  7.56                  0.95             0.44        0.14
2      Denmark                    3                  7.53                  0.87             0.34        0.48
3       Norway                    4                  7.52                  0.89             0.35        0.37
4       Canada                    5                  7.43                  0.91             0.46        0.33

In [84]:
# rename columns in 2021 dropped df

dropped2021_transformed = dropped2021.rename(columns={"Country name": "country", 
                                                      "Ladder score": "happiness_score_2021",
                                                        "Healthy life expectancy": "life_expectancy_2021",
                                                          "Generosity": "generosity_2021",
                                                          "Perceptions of corruption": "trust_2021"})
dropped2021_transformed.head()

       country  happiness_score_2021  life_expectancy_2021  generosity_2021  trust_2021
0      Finland                 7.842                  72.0           -0.098       0.186
1      Denmark                 7.620                  72.7            0.030       0.179
2  Switzerland                 7.571                  74.4            0.025       0.292
3      Iceland                 7.554                  73.0            0.160       0.673
4  Netherlands                 7.464                  72.4            0.175       0.338

In [85]:
# round numerical columns to two decimal points

dropped2021_round = dropped2021_transformed
dropped2021_round[["happiness_score_2021", "life_expectancy_2021", "generosity_2021", "trust_2021"]] = dropped2021_round[["happiness_score_2021", "life_expectancy_2021", "generosity_2021", "trust_2021"]].apply(rounding)
dropped2021_round.head()

       country  happiness_score_2021  life_expectancy_2021  generosity_2021  trust_2021
0      Finland                  7.84                  72.0            -0.10        0.19
1      Denmark                  7.62                  72.7             0.03        0.18
2  Switzerland                  7.57                  74.4             0.02        0.29
3      Iceland                  7.55                  73.0             0.16        0.67
4  Netherlands                  7.46                  72.4             0.18        0.34

In [86]:
# Transform: merge 2015 and 2021 dataframes to check for null values
# merge dataframes to check for null values

merged_df = pd.merge(dropped2015_ordered, dropped2021_transformed, on="country", how="outer")
merged_df.head(158)

                      country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015  happiness_score_2021  life_expectancy_2021  generosity_2021  trust_2021
0                 Switzerland                  1.0                  7.59                  0.94             0.30        0.42                  7.57                 74.40             0.02        0.29
1                     Iceland                  2.0                  7.56                  0.95             0.44        0.14                  7.55                 73.00             0.16        0.67
2                     Denmark                  3.0                  7.53                  0.87             0.34        0.48                  7.62                 72.70             0.03        0.18
3                      Norway                  4.0                  7.52                  0.89             0.35        0.37                  7.39                 73.30             0.09        0.27
4                      Canada                  5.0                  7.43                  0.91             0.46        0.33                  7.10                 73.80             0.09        0.42
5                     Finland                  6.0                  7.41                  0.89             0.23        0.41                  7.84                 72.00            -0.10        0.19
6                 Netherlands                  7.0                  7.38                  0.89             0.48        0.32                  7.46                 72.40             0.18        0.34
7                      Sweden                  8.0                  7.36                  0.91             0.36        0.44                  7.36                 72.70             0.09        0.24
8                 New Zealand                  9.0                  7.29                  0.91             0.48        0.43                  7.28                 73.40             0.13        0.24
9                   Australia                 10.0                  7.28                  0.93             0.44        0.36                  7.18                 73.90             0.16        0.44
10                     Israel                 11.0                  7.28                  0.91             0.33        0.08                  7.16                 73.50             0.03        0.75
11                 Costa Rica                 12.0                  7.23                  0.86             0.25        0.11                  7.07                 71.40            -0.13        0.81
12                    Austria                 13.0                  7.20                  0.89             0.33        0.19                  7.27                 73.30             0.04        0.48
13                     Mexico                 14.0                  7.19                  0.81             0.14        0.21                  6.32                 68.60            -0.15        0.80
14              United States                 15.0                  7.12                  0.86             0.40        0.16                  6.95                 68.20             0.10        0.70
15                     Brazil                 16.0                  6.98                  0.70             0.15        0.18                  6.33                 66.60            -0.07        0.76
16                 Luxembourg                 17.0                  6.95                  0.92             0.28        0.38                  7.32                 72.60            -0.03        0.39
17                    Ireland                 18.0                  6.94                  0.90             0.46        0.29                  7.08                 72.40             0.08        0.36
18                    Belgium                 19.0                  6.94                  0.90             0.22        0.23                  6.83                 72.20            -0.15        0.65
19       United Arab Emirates                 20.0                  6.90                  0.81             0.26        0.39                  6.56                 67.33             0.07        0.59
20             United Kingdom                 21.0                  6.87                  0.91             0.52        0.32                  7.06                 72.50             0.23        0.46
21                       Oman                 22.0                  6.85                  0.76             0.22        0.33                   NaN                   NaN              NaN         NaN
22                  Venezuela                 23.0                  6.81                  0.72             0.06        0.11                  4.89                 66.70            -0.17        0.83
23                  Singapore                 24.0                  6.80                  1.03             0.31        0.49                  6.38                 76.95            -0.02        0.08
24                     Panama                 25.0                  6.79                  0.80             0.24        0.09                  6.18                 69.65            -0.17        0.86
25                    Germany                 26.0                  6.75                  0.89             0.28        0.22                  7.16                 72.50             0.01        0.46
26                      Chile                 27.0                  6.67                  0.86             0.33        0.13                  6.17                 70.00            -0.04        0.83
27                      Qatar                 28.0                  6.61                  0.80             0.33        0.52                   NaN                   NaN              NaN         NaN
28                     France                 29.0                  6.58                  0.95             0.12        0.21                  6.69                 74.00            -0.15        0.57
29                  Argentina                 30.0                  6.57                  0.79             0.11        0.08                  5.93                 69.00            -0.18        0.83
30             Czech Republic                 31.0                  6.50                  0.84             0.11        0.03                  6.96                 70.81            -0.21        0.87
31                    Uruguay                 32.0                  6.48                  0.81             0.23        0.25                  6.43                 69.10            -0.09        0.59
32                   Colombia                 33.0                  6.48                  0.69             0.18        0.05                  6.01                 68.00            -0.14        0.84
33                   Thailand                 34.0                  6.46                  0.74             0.58        0.03                  5.98                 67.40             0.29        0.90
34               Saudi Arabia                 35.0                  6.41                  0.72             0.14        0.33                  6.49                 66.60            -0.15        0.68
35                      Spain                 36.0                  6.33                  0.96             0.18        0.06                  6.49                 74.70            -0.08        0.74
36                      Malta                 37.0                  6.30                  0.89             0.52        0.14                  6.60                 72.20             0.13        0.65
37                     Taiwan                 38.0                  6.30                  0.88             0.25        0.08                   NaN                   NaN              NaN         NaN
38                     Kuwait                 39.0                  6.30                  0.72             0.16        0.26                  6.11                 66.90            -0.10        0.74
39                   Suriname                 40.0                  6.27                  0.61             0.17        0.14                   NaN                   NaN              NaN         NaN
40        Trinidad and Tobago                 41.0                  6.17                  0.61             0.32        0.01                   NaN                   NaN              NaN         NaN
41                El Salvador                 42.0                  6.13                  0.68             0.11        0.12                  6.06                 66.40            -0.11        0.69
42                  Guatemala                 43.0                  6.12                  0.64             0.27        0.09                  6.44                 64.96            -0.04        0.78
43                 Uzbekistan                 44.0                  6.00                  0.60             0.23        0.31                  6.18                 65.26             0.31        0.52
44                   Slovakia                 45.0                  6.00                  0.79             0.17        0.03                  6.33                 69.20            -0.12        0.91
45                      Japan                 46.0                  5.99                  0.99             0.11        0.18                  5.94                 75.10            -0.26        0.64
46                South Korea                 47.0                  5.98                  0.97             0.19        0.08                  5.84                 73.90            -0.08        0.73
47                    Ecuador                 48.0                  5.98                  0.79             0.12        0.18                  5.76                 68.80            -0.12        0.84
48                    Bahrain                 49.0                  5.96                  0.75             0.17        0.31                  6.65                 69.50             0.09        0.72
49                      Italy                 50.0                  5.95                  0.95             0.23        0.03                  6.48                 73.80            -0.08        0.87
50                    Bolivia                 51.0                  5.89                  0.54             0.21        0.09                  5.72                 63.90            -0.08        0.84
51                    Moldova                 52.0                  5.89                  0.62             0.21        0.02                  5.77                 65.70            -0.08        0.92
52                   Paraguay                 53.0                  5.88                  0.66             0.34        0.08                  5.65                 65.90             0.03        0.88
53                 Kazakhstan                 54.0                  5.86                  0.64             0.12        0.08                  6.15                 65.20            -0.07        0.73
54                   Slovenia                 55.0                  5.85                  0.87             0.25        0.04                  6.46                 71.40            -0.10        0.81
55                  Lithuania                 56.0                  5.83                  0.73             0.03        0.01                  6.26                 67.91            -0.20        0.83
56                  Nicaragua                 57.0                  5.83                  0.74             0.28        0.19                  5.97                 67.66             0.02        0.66
57                       Peru                 58.0                  5.82                  0.73             0.15        0.06                  5.84                 68.25            -0.15        0.89
58                    Belarus                 59.0                  5.81                  0.74             0.11        0.19                  5.53                 66.25            -0.18        0.63
59                     Poland                 60.0                  5.79                  0.78             0.17        0.04                  6.17                 69.70            -0.16        0.74
60                   Malaysia                 61.0                  5.77                  0.72             0.33        0.11                  5.38                 67.10             0.12        0.84
61                    Croatia                 62.0                  5.76                  0.79             0.05        0.02                  5.88                 70.80            -0.12        0.94
62                      Libya                 63.0                  5.75                  0.70             0.18        0.11                  5.41                 62.30            -0.09        0.67
63                     Russia                 64.0                  5.72                  0.67             0.00        0.03                  5.48                 64.70            -0.11        0.84
64                    Jamaica                 65.0                  5.71                  0.69             0.21        0.02                  6.31                 67.50            -0.14        0.88
65               North Cyprus                 66.0                  5.70                  0.92             0.26        0.14                  5.54                 73.90             0.01        0.63
66                     Cyprus                 67.0                  5.69                  0.92             0.31        0.06                  6.22                 73.90            -0.02        0.84
67                    Algeria                 68.0                  5.60                  0.62             0.08        0.17                  4.89                 66.00            -0.07        0.75
68                     Kosovo                 69.0                  5.59                  0.63             0.28        0.05                  6.37                 63.81             0.26        0.92
69               Turkmenistan                 70.0                  5.55                  0.54             0.17        0.31                  5.07                 62.41             0.27        0.89
70                  Mauritius                 71.0                  5.48                  0.71             0.38        0.08                  6.05                 66.70            -0.05        0.79
71                  Hong Kong                 72.0                  5.47                  1.01             0.39        0.37                   NaN                   NaN              NaN         NaN
72                    Estonia                 73.0                  5.43                  0.77             0.09        0.15                  6.19                 68.80            -0.11        0.53
73                  Indonesia                 74.0                  5.40                  0.64             0.52        0.00                  5.34                 62.24             0.54        0.87
74                    Vietnam                 75.0                  5.36                  0.75             0.17        0.10                  5.41                 68.03            -0.10        0.80
75                     Turkey                 76.0                  5.33                  0.73             0.12        0.16                  4.95                 67.20            -0.14        0.78
76                 Kyrgyzstan                 77.0                  5.29                  0.65             0.30        0.04                  5.74                 64.40             0.12        0.91
77                    Nigeria                 78.0                  5.27                  0.16             0.27        0.04                  4.76                 50.10             0.04        0.88
78                     Bhutan                 79.0                  5.25                  0.57             0.48        0.15                   NaN                   NaN              NaN         NaN
79                 Azerbaijan                 80.0                  5.21                  0.64             0.08        0.16                  5.17                 65.66            -0.22        0.51
80                   Pakistan                 81.0                  5.19                  0.51             0.34        0.10                  4.93                 58.71             0.10        0.79
81                     Jordan                 82.0                  5.19                  0.70             0.11        0.14                  4.39                 67.00            -0.17        0.70
82                 Montenegro                 82.0                  5.19                  0.73             0.16        0.14                  5.58                 68.70            -0.03        0.81
83                      China                 84.0                  5.14                  0.82             0.08        0.03                  5.34                 69.59            -0.15        0.76
84                     Zambia                 85.0                  5.13                  0.30             0.20        0.12                  4.07                 55.81             0.06        0.82
85                    Romania                 86.0                  5.12                  0.77             0.14        0.01                  6.14                 67.36            -0.22        0.94
86                     Serbia                 87.0                  5.12                  0.75             0.19        0.03                  6.08                 68.60             0.00        0.84
87                   Portugal                 88.0                  5.10                  0.88             0.14        0.01                  5.93                 72.60            -0.24        0.89
88                     Latvia                 89.0                  5.10                  0.72             0.18        0.06                  6.03                 67.10            -0.16        0.80
89                Philippines                 90.0                  5.07                  0.58             0.25        0.12                  5.88                 62.00            -0.10        0.74
90          Somaliland region                 91.0                  5.06                  0.44             0.50        0.40                   NaN                   NaN              NaN         NaN
91                    Morocco                 92.0                  5.01                  0.61             0.07        0.09                  4.92                 66.21            -0.24        0.80
92                  Macedonia                 93.0                  5.01                  0.74             0.22        0.05                   NaN                   NaN              NaN         NaN
93                 Mozambique                 94.0                  4.97                  0.09             0.22        0.16                  4.79                 54.71             0.06        0.68
94                    Albania                 95.0                  4.96                  0.81             0.14        0.06                  5.12                 69.00            -0.03        0.90
95     Bosnia and Herzegovina                 96.0                  4.95                  0.79             0.25        0.00                  5.81                 68.10             0.11        0.93
96                    Lesotho                 97.0                  4.90                  0.08             0.16        0.13                  3.51                 48.70            -0.13        0.92
97         Dominican Republic                 98.0                  4.88                  0.67             0.22        0.14                  5.54                 66.10            -0.13        0.71
98                       Laos                 99.0                  4.88                  0.55             0.42        0.24                  5.03                 58.97             0.12        0.66
99                   Mongolia                100.0                  4.87                  0.60             0.33        0.03                  5.68                 62.50             0.12        0.86

In [90]:
list_Ten = merged_df.sort_values(by = 'happiness_score_2015')

list_Ten.head(10)

          country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015  happiness_score_2021  life_expectancy_2021  generosity_2021  trust_2021
157          Togo                158.0                  2.84                  0.28             0.17        0.11                  4.11                 54.91             0.03        0.77
156       Burundi                157.0                  2.90                  0.22             0.20        0.10                  3.78                 53.40            -0.02        0.61
155         Syria                156.0                  3.01                  0.72             0.47        0.19                   NaN                   NaN              NaN         NaN
154         Benin                155.0                  3.34                  0.32             0.18        0.08                  5.04                 54.71            -0.03        0.66
153        Rwanda                154.0                  3.46                  0.43             0.23        0.55                  3.42                 61.40             0.06        0.17
152   Afghanistan                153.0                  3.58                  0.30             0.37        0.10                  2.52                 52.49            -0.10        0.92
151  Burkina Faso                152.0                  3.59                  0.27             0.22        0.13                  4.83                 54.15            -0.01        0.75
150   Ivory Coast                151.0                  3.66                  0.15             0.20        0.18                  5.31                 50.11            -0.02        0.79
149        Guinea                150.0                  3.66                  0.24             0.29        0.12                  4.98                 55.01             0.10        0.77
148          Chad                149.0                  3.67                  0.15             0.18        0.05                  4.36                 48.48             0.04        0.81

In [91]:
list_Ten = merged_df.sort_values(by = 'happiness_score_2021')

list_Ten.head(10)

         country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015  happiness_score_2021  life_expectancy_2021  generosity_2021  trust_2021
152  Afghanistan                153.0                  3.58                  0.30             0.37        0.10                  2.52                 52.49            -0.10        0.92
114     Zimbabwe                115.0                  4.61                  0.33             0.19        0.08                  3.14                 56.20            -0.05        0.82
153       Rwanda                154.0                  3.46                  0.43             0.23        0.55                  3.42                 61.40             0.06        0.17
127     Botswana                128.0                  4.33                  0.05             0.10        0.12                  3.47                 59.27            -0.25        0.80
96       Lesotho                 97.0                  4.90                  0.08             0.16        0.13                  3.51                 48.70            -0.13        0.92
130       Malawi                131.0                  4.29                  0.23             0.33        0.07                  3.60                 57.95             0.04        0.73
118        Haiti                119.0                  4.52                  0.39             0.46        0.17                  3.62                 55.70             0.42        0.72
145     Tanzania                146.0                  3.78                  0.38             0.34        0.06                  3.62                 58.00             0.18        0.58
135        Yemen                136.0                  4.08                  0.40             0.09        0.08                  3.66                 57.12            -0.15        0.80
156      Burundi                157.0                  2.90                  0.22             0.20        0.10                  3.78                 53.40            -0.02        0.61

In [ ]:
# For PostGREs and SQLAlchemy
!pip install psycopg2 sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [101]:
#Load: connect to PostgreSQL Database to Load the Dataframe
# connect to postgres sql server and database via sql alchemy
engine = create_engine('postgresql://localhost:5432/EmployeeSQL')
connection = psycopg2.connect(user='postgres', password='617463', dbname='World Happiness_DB')

In [ ]:
# get table names

engine.table_names()

In [97]:
happiness_2015_data = pd.read_sql("SELECT * FROM happiness_2015", connection)
happiness_2015_data.head()

Empty DataFrame
Columns: [country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [ ]:
# load 2015 dataframe into postgresql database

dropped2015_ordered.to_sql(name='happiness_2015', con=engine, if_exists='append', index=False)

In [ ]:
# load 2021 dataframe into postgresql database

dropped2021_transformed.to_sql(name='happiness_2021', con=engine, if_exists='append', index=False)

In [ ]:
# confirm data has been loaded into 2015 happiness table

pd.read_sql_query('select * from happiness_2015', con=engine).head()

In [ ]:
# confirm data has been loaded into 2021 happiness table

pd.read_sql_query('select * from happiness_2021', con=engine).head()